sourceRow=0 sourceColumn=0 destinationRow=0 destinationColumn=1 wiresNeeded=1
sourceRow=0 sourceColumn=1 destinationRow=1 destinationColumn=1 wiresNeeded=1
sourceRow=1 sourceColumn=1 destinationRow=1 destinationColumn=0 wiresNeeded=1
sourceRow=1 sourceColumn=0 destinationRow=0 destinationColumn=0 wiresNeeded=1